# Terraform variables referenced by .tfwconfig.yml via ${VAR} interpolation
ARCHIVE_BUCKET_NAME=''
LAMBDA_EXECUTION_ROLE_NAME=''
LAMBDA_FUNCTION_NAME=''
LAMBDA_LOG_GROUP_NAME=''
PRIMARY_BUCKET_NAME=''
PRIMARY_KMS_KEY_ALIAS=''
SECURITY_GROUP_IDS='["",""]'
SUBNET_IDS='["",""]'
TAGS='{"key":"","value":"","key":"value"}'
VPC_ID=''
